<!DOCTYPE html> 
<html>
<head>
	<title>Carneades 4.1 Help</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="HelpPage">

	<div data-role="header">
		<h1>Datenschutzinformation Carneades</h1>
	</div>
	
	<div role="main" class="ui-content">

<h2>Projekt Carneades</h2>

<p>Carneades ist ein Projekt des <br/>
Fraunhofer-Institut fuer Offene Kommunikationssysteme<br/>
Kaiserin-Augusta-Allee 31<br/>
Berlin 10589<br/>
Germany</p>

<p>Im Rahmen der Nutzung dieser Webseite werden personenbezogene Daten von Ihnen durch uns als den für die Datenverarbeitung Verantwortlichen verarbeitet und für die Dauer gespeichert, die zur Erfüllung der festgelegten Zwecke und gesetzlicher Verpflichtungen erforderlich ist. Im Folgenden informieren wir Sie darüber, um welche Daten es sich dabei handelt, auf welche Weise sie verarbeitet werden und welche Rechte Ihnen diesbezüglich zustehen.</p>

<p>Personenbezogene Daten sind gemäß Art. 4 Nr. 1 Datenschutzgrundverordnung (DSGVO) alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen.</p>

<h2>1. Geltungsbereich</h2>

<p>Diese Datenschutzinformationen gelten für die Projekt-Website und Webdienste, die unter https://carneades.fokus.fraunhofer.de/carneades/ angeboten werden.</p>

<h2>2.	Name und Kontaktdaten des für die Verarbeitung Verantwortlichen sowie des betrieblichen Datenschutzbeauftragten </h2>

<p>Verantwortlicher im Sinne von Art. 4 Nr. 7 DSGVO:</p>

<p>Fraunhofer-Gesellschaft <br/>
zur Förderung der angewandten Forschung e.V.<br/>
Hansastraße 27 c<br/>
80686 München<br/>
Phone: +49 89 1205- 0<br/>
Fax: +49 89 1205-7531 <br/>
www.fraunhofer.de<br/>
</p>

<p>für ihr </p>

<p>Fraunhofer-Institut fuer Offene Kommunikationssysteme<br/>
Kaiserin-Augusta-Allee 31<br/>
Berlin 10589<br/>
Germany</p>

<p>im Folgenden "Fraunhofer FOKUS"</p>
<p>E-Mail: info@fokus.fraunhofer.de </p>

<p>Der Datenschutzbeauftragte von Fraunhofer ist unter der o.g. Anschrift, zu Hd. Datenschutzbeauftragter bzw. unter datenschutz@zv.fraunhofer.de erreichbar.</p>

<p>Sie können sich jederzeit bei Fragen zum Datenschutzrecht oder Ihren Betroffenenrechten direkt an unseren Datenschutzbeauftragten wenden.</p>

<h2>3.	Verarbeitung personenbezogener Daten und Zwecke der Verarbeitung</h2>
<h3>a)	Beim Besuch der Webseite</h3>

<p>Sie können unsere Webseite aufrufen, ohne Angaben zu Ihrer Identität preisgeben zu müssen. Der auf Ihrem Endgerät eingesetzte Browser sendet lediglich automatisch Informationen an den Server unserer Webseite (z.B. Browsertyp und –version, Datum und Uhrzeit des Zugriffs), um einen Verbindungsaufbau der Webseite zu ermöglichen. Hierzu gehört auch die IP-Adresse Ihres anfragenden Endgerätes. Diese wird temporär in einem sog. Logfile gespeichert und nach 4 Wochen automatisch gelöscht.</p>
<p>Die Verarbeitung der IP-Adresse erfolgt zu technischen und administrativen Zwecken des Verbindungsaufbaus und –stabilität, um die Sicherheit und Funktionsfähigkeit unserer Webseite zu gewährleisten und etwaige rechtswidrige Angriffe hierauf notfalls verfolgen zu können.</p>
<p>Die Rechtsgrundlage für die Verarbeitung der IP-Adresse ist Art. 6 Abs. 1 S. 1 lit. f DSGVO. Unser berechtigtes Interesse folgt aus dem erwähnten Sicherheitsinteresse und der Erforderlichkeit einer störungsfreien Bereitstellung unserer Webseite.</p>

<p>Aus der Verarbeitung der IP-Adresse und anderer Information in dem Logfile können wir keine unmittelbaren Rückschlüsse auf Ihre Identität ziehen. </p>

<h2>Betroffenenrechte</h2>
<p>Sie haben das Recht: </p>
<ul>
  <li>gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen. Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling und ggf. aussagekräftigen Informationen zu deren Einzelheiten verlangen;</li>
<li>gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen;</li>
<li>gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist;</li>
<li>gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben;</li>
<li>gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen und</li>
<li>gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich hierfür an die Aufsichtsbehörde ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Unternehmenssitzes wenden.</li>
</ul>

<h2>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h2>
<p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Artikel 6 Absatz 1 Buchstabe e DSGVO (Datenverarbeitung im öffentlichen Interesse) und Artikel 6 Absatz 1 Buchstabe f DSGVO (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmung gestütztes Profiling von Artikel 4 Nr. 4 DSGVO.</p>
<p>Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
<p>Möchten Sie von Ihrem Widerspruchsrecht Gebrauch machen, genügt eine E-Mail an datenschutz@zv.fraunhofer.de.</p>

<h2>Datensicherheit</h2>

<p>Alle von Ihnen persönlich übermittelten Daten werden mit dem allgemein üblichen und sicheren Standard TLS (Transport Layer Security) verschlüsselt übertragen. TLS ist ein sicherer und erprobter Standard, der z.B. auch beim Onlinebanking Verwendung findet. Sie erkennen eine sichere TLS-Verbindung unter anderem an dem angehängten s am http (also https://..) in der Adressleiste Ihres Browsers oder am Schloss-Symbol im unteren Bereich Ihres Browsers.</p>
<p>Wir bedienen uns im Übrigen geeigneter technischer und organisatorischer Sicherheitsmaßnahmen, um Ihre Daten gegen zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen den unbefugten Zugriff Dritter zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.</p>

<h2>Aktualität und Änderung dieser Datenschutzinformation</h2>
<p>Diese Datenschutzinformation ist aktuell gültig und hat den Stand Mai 2018</p>
<p>Durch die Weiterentwicklung unserer Webseite und Angebote darüber oder aufgrund geänderter gesetzlicher bzw. behördlicher Vorgaben kann es notwendig werden, diese Datenschutzinformation zu ändern. Die jeweils aktuelle Datenschutzinformation kann jederzeit auf der Webseite unter<br/>
https://carneades.fokus.fraunhofer.de/carneades/dataprot<br/>
von Ihnen abgerufen und ausgedruckt werden.</p>

	<div data-role="footer" data-id="main-footer" data-position="fixed">
		<div data-role="navbar">
	  		<ul>
	    			<li><a href="/carneades/" class="ui-btn-active" data-icon="home">Home</a></li>
	   			<li><a href="/carneades/help" data-icon="info">Help</a></li>
				<li><a href="/carneades/imprint" data-icon="info">Imprint</a></li>
	  		</ul>
		</div>
	</div>
</div> <!-- Eval Page -->
</body>
</html>
