<!DOCTYPE html> 
<html>
<head>
	<title>Carneades {{.Version}} Help</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="HelpPage">

	<div data-role="header">
		<h1>Carneades {{.Version}} Help Page</h1>
	</div>
	
	<div role="main" class="ui-content">

	<p>Carneades is a tool for evaluating and visualizing structured argument graphs
	and Dung abstract argumentation frameworks.</p>

	<p>The available commands are:</p>

	<dl>
	<dt><a href="/carneades/eval-help">Eval</a></dt><dd>Evaluate a structured argument graph</dd>
    <dt><a href="/carneades/dung-help">Dung</a></dt><dd>Compute extensions of a Dung abstract argumentation framework.</dd>
	</dl>
	</p>
	
	<p>For further information, see the Carneades</p>
	
	<ul>
	<li><a href="https://github.com/carneades/carneades-4">project page</a></li>
	<li><a href="https://carneades.github.io/">blog</a></li>
	</ul>


	<div data-role="footer" data-id="main-footer" data-position="fixed">
		<div data-role="navbar">
	  		<ul>
	    		<li><a href="/carneades/" class="ui-btn-active" data-icon="home">Home</a></li>
	   			<li><a href="/carneades/help" data-icon="info">Help</a></li>
				<li><a href="/carneades/dataprot" data-icon="info">Data Protection</a></li>
				<li><a href="/carneades/imprint" data-icon="info">Imprint</a></li>
	  		</ul>
		</div>
	</div>
</div> <!-- Eval Page -->
</body>
</html>
