<!DOCTYPE html> 
<html>
<head>
	<title>Carneades 4.1 Help</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="HelpPage">

	<div data-role="header">
		<h1>Imprint</h1>
	</div>
	
	<div role="main" class="ui-content">

<h2>Publishing Notes</h2>

<p>The Fraunhofer Institute for Open Communication Systems<br/>
Kaiserin-Augusta-Allee 31<br/>
Berlin 10589<br/>
Germany</p>

<p>is a constituent entity of the Fraunhofer-Gesellschaft, and as such has no separate legal status.</p>

<p>Fraunhofer-Gesellschaft <br/>
zur Förderung der angewandten Forschung e.V.<br/>
Hansastraße 27 c<br/>
80686 München<br/>
Phone: +49 89 1205- 0<br/>
Fax: +49 89 1205-7531 <br/>
www.fraunhofer.de<br/>
</p>

<p>VAT Identification Number in accordance with §27 a VAT Tax Act: DE 129515865</p>

<h3>Court of jurisdiction</h3>

<p>Amtsgericht  München (district court)<br/>
Registered nonprofit association <br/>
Registration no. VR 4461</p>

<h3>Responsible editor</h3>

<p>
Prof. Dr. Thomas F. Gordon<br/>
thomas.gordon@fokus.fraunhofer.de
</p>

<h3>Executive Board</h3>

<ul>
<li>Prof. Dr.-Ing. Reimund Neugebauer, President, Corporate Policy and Research Management</li>
<li>Prof. Dr.-Ing. Alexander Verl, Technology Marketing and Business Models</li>
<li>Prof. Dr. Alexander Kurz, Human Resources, Legal Affairs and IP Management</li>
<li>Prof. (Univ. Stellenbosch) Dr. Alfred Gossner, Finance, Controlling(incl. Business Administration, Purchasing and Real Estate) and Information Systems</li>
</ul>

<h3>Usage Rights</h3>

<p>Copyright © by<br/>
Fraunhofer-Gesellschaft<br/>
All rights reserved. <br/>
All copyright for this Web site are owned in full by the Fraunhofer-Gesellschaft. 
</p>

<p>Permission is granted to download or print material published on this site for personal use only. Its use for any other purpose, and in particular its commercial use or distribution, are strictly forbidden in the absence of prior written approval. Please address your requests for approval to:</p>

<p>The Fraunhofer Institute for Open Communication Systems<br/>
Kaiserin-Augusta-Allee 31<br/>
Berlin 10589<br/>
Germany</p>

<p>Notwithstanding this requirement, material may be downloaded or printed for use in connection with press reports on the activities of the Fraunhofer-Gesellschaft and its constituent institutes, on condition that the following terms are complied with:</p>

<p>No alterations may be made to pictorial content, with the exception of framing modifications to emphasize the central motif. The source must be quoted and two free reference copies must be sent to the above-mentioned address. Such usage is free of charge.</p>


<h3>Disclaimer</h3>

<p>We cannot assume any liability for the content of external pages. Solely the operators of those linked pages are responsible for their content. 
We make every reasonable effort to ensure that the content of this Web site is kept up to date, and that it is accurate and complete. Nevertheless, the possibility of errors cannot be entirely ruled out. We do not give any warranty in respect of the timeliness, accuracy or completeness of material published on this Web site, and disclaim all liability for (material or non-material) loss or damage incurred by third parties arising from the use of content obtained from the Web site.
Registered trademarks and proprietary names, and copyrighted text and images, are not generally indicated as such on our Web pages. But the absence of such indications in no way implies that these names, images or text belong to the public domain in the context of trademark or copyright law.</p>


	<div data-role="footer" data-id="main-footer" data-position="fixed">
		<div data-role="navbar">
	  		<ul>
	    		<li><a href="/carneades/" class="ui-btn-active" data-icon="home">Home</a></li>
	   			<li><a href="/carneades/help" data-icon="info">Help</a></li>
				<li><a href="/carneades/dataprot" data-icon="info">Data Protection</a></li>
				<li><a href="/carneades/imprint" data-icon="info">Imprint</a></li>
	  		</ul>
		</div>
	</div>
</div> <!-- Eval Page -->
</body>
</html>
