<!DOCTYPE html> 
<html>
<head>
	<title>Error Message</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="page" id="errorPage">

	<div data-role="header">
		<h1>Error Message</h1>
	</div>

    <p>
	{{.}}
	</p>
    
	<div data-role="footer" data-id="main-footer" data-position="fixed">
		<div data-role="navbar">
	  		<ul>
	    			<li><a href="/" class="ui-btn-active" data-icon="home">Home</a></li>
	   			<li><a href="help.html" data-icon="info">Help</a></li>
	  		</ul>
		</div>
	</div>
</div> <!-- error page -->

</body>
</html>
